

h2 {
	font-size: 20px;
	font-weight:bold;
}

body {

		font: 17px/1 "Oxygen", sans-serif;
		color: #7c7c7c;
		background: #ddd;
}


.mainPageContentGrid {
	line-height: 30px;
}


.tileLink
{

	box-shadow: inset 170px 0 50px 5px rgba(0, 0, 0, 0.7);
}

.kokolib_url_thumb_description, .kokolib_event_thumb_description, .instafeed__item__caption {
	color: #7c7c7c !important;
}

/*============ SCHOLARSHIPS ========*/
.scholarshipOuterContainer {
	border: #ccc 1px solid;
	padding: 10px;
	margin: 10px;
}
.scholarshipInnerContainer {

}
.scholarshipTitle {
	font-size: 1.3em;
}
.scholarshipAmount, .scholarshipDeadline, {

}
.scholarshipDescription {

}

/*=========== HEADER ===============*/
.page-header, .page-header h1{
	margin:0;
	padding:0;
	border:0;
}

.instafeed__item__overlay, .instafeed__item__background
{
	width:100%;
}

.kokolib_blogArchive_monthEntry span,
.kokolib_blogArchive_yearEntry span
{
	color: #e0a80f;
}

.Countdown-col {
	padding-right: 20px;
}

.Countdown-col-element-label {
	color: rgb(124, 124, 124) !important;
}

@media screen and (max-width: 580px) and (min-width: 411px){

	.CountdownTitle {
		font-size: 0.9em !important;
	}
	.Countdown-col {
		font-size: 0.7em !important;
		padding-right: 7px;
	}

}

@media screen and (max-width: 410px) {

	.CountdownTitle {
		font-size: 1.2em !important;
	}
	.Countdown-col {
		font-size: 0.5em !important;
		padding-right: 2px;
	}

}
